* {
    margin: 0;
    padding: 0;
}

html{ 
    font-size: 62.5%; 
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", sans-serif; 
}

:root{
    --main-color: #313131;
    --text-color: #525564;
    --accent-color: #4EBDBE;
}

a{
    text-decoration: none;
}

a:hover{
    color:  var(--accent-color);
    transition: 0.2s;
}

h3{
    font-size: 2rem;
    font-family: 'Varta', sans-serif;
}

p{
    font-size: 1.3rem;
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", sans-serif; 
    color: var(--text-color);
}
header{
    display: flex;
    justify-content: center;
}

section{
    justify-content: center;
    display: flex;
}

.wrap{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}
/* header */
header .wrap{
    padding: 2rem 0;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
}

header a{
    color: var(--text-color);
}

.nav li{
    list-style: none;
    display: inline-block;
}

.nav li:not(:last-child):after{
    content: "/";
    color: var(--accent-color);
    margin: 0 1rem;
}

/* hello */
.hello{
    width: 100%;
    max-width: 850px;
    padding: 7rem 0;
    text-align: center;
    position: relative;
}

.hello h1{
    font-size: 3.5rem;
    font-family: 'Varta', sans-serif;
}

/* case study */
.grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid_item{
    margin: 2rem;
    position: relative;
    box-shadow: 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px 1px rgb(0 0 0 / 3%);
    border-radius: 0.4rem;
    transition: box-shadow 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    flex-direction: column;
}

.grid_item_text{
    padding: 1rem 1.5rem;
}

.grid_item a{
    position: absolute;
    top: 0;
    right: 0; 
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.grid_item figure{
    margin: 0;
    position: relative;
    top: 0;
    bottom: 0;
    display: block;
    order: 1;
}

figure img{
    width: 100%;
    height: auto;
    border-radius: 0.4rem;
}


/* fotter */
footer{
    width: 100%;
    display: flex;
    justify-content: center;
}
footer .wrap{
    border-top: 1px solid var(--accent-color);
    align-content: center;
}

footer a{
    color: var(--text-color);
    font-size: 1.8rem;
    font-family: 'Josefin Sans', sans-serif;
    padding: 1.3rem 0;
}

footer a:not(:last-child):after{
    content: "/";
    color: var(--accent-color);
    margin: 0 1rem;
}